@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root{
  --primary-color: #000E8B;

  --font-comuter: 'VT323', sans-serif;
  --secondary-color: #7e2323;
    /* background-image: url("../public/background4.jpg") ; */

}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat', sans-serif;
  /* background-image: url("../public/background4.jpg") ; */
  background-repeat: repeat;
  

}

.q{

}

*{
  box-sizing: border-box;
}
h1, h2{
  font-weight: 600;
}



@media (max-width: 420px){

  .cards{
      width: 250px;
  }
  
      .card {
      width: 250px;
      height: 200px;
  }
   
  }


