@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');




.background{
  position: absolute;
  right:-200px;
  z-index: -1;
  opacity: 0.3;
  
}

header{
  /* background-image: url("../public/background4.jpg") ; */
    /* background-color:  rgb(144, 171, 228)    ;  */
    height: 100vh;
    /* display: flex;
    flex-direction: column;
   justify-content: center; */
   position: relative;
   border-bottom: 3px solid black;
  padding-bottom: 2rem;
   box-sizing: border-box;
   overflow: hidden;
  }




  header h2{
    font-weight: 400;
  }

  h1 span{
    color: inherit;
    animation: colorspan 1s ease-in forwards;

  }

  .intro{
    padding-top: 25vh;
    margin-left: 10vw;
    width: 50vw;
   
   

  }

.skills{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  top:70vh;
  width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.title-skills{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.logos{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

}

.skills img{
  /* padding-top: 40px; */
  height: 60px;
  width: auto;
  transition:  0.1s ease-in-out;
}
.skills img:hover{
  transform: scale(1.2);
}
  

  /* #greeting, .title{
    font-family: 'VT323', sans-serif;
  } */

  #greeting{
    width: 50vw;
    /* animation: typing 4s steps(24), cursor .4s  step-end infinite alternate ; */
    margin: 0;
    padding: 0;
    opacity: 0;
    /* border-right: 1px solid black; */
    transform: translateX(-5%);
    animation: title 1s ease-in 1 forwards;
    
  }

  .container{
    display: block;
    width: fit-content;
    /* background-color: white; */
    padding: 5px;
    /* border-radius: 10px; */
    /* border: 2px black solid; */

   
    
  }

  .buttons{
   opacity: 1;
  
  }

  .button1{
    font-family: var(--font-comuter);
    font-size:1.2rem;
    cursor: pointer;
    padding: 10px;
    border: 0px solid black;
    /* border-radius: 10px; */
    transition: all 0.1s ease-in-out;
    background-color: #6363ff;
    color: white;
   display: flex;
   align-items: center;
   gap:4px;
   transition: 0.1s ease-in-out;
   

  }
  .button1:hover{
  transform: scale(1.05);
  }

  .button1 > * {
    height: 15px;
    width: auto;
    opacity: 0;
    transform: translateX(-50%);
    transition: 0.1s ease-in;

  }

  .button1:hover > *{
   /* scale: 1.2; */
   opacity:1;
   transform: translateX(0%);

  }



/* 
  #github-button svg{
    display: none;
    color: red;
    
  }
  #github-button:hover svg{
display: block;  
} */

@keyframes title{
  100%{
    opacity: 1;
    transform: translatex(0%);
  }
 }
 
@keyframes colorspan{
 
  100%{
    color: var(--secondary-color);
   }
 }



 @media (max-width:800px){

  #greeting{
    font-size: 2rem;
  }


  .intro{
    font-size: 1rem;
  }

  .skills img{
    height: 2rem;
    width: auto;
   }

   .button1{
    font-size: 1rem;
   }

}
@media (max-width:650px){

#greeting{
  font-size: 1.2rem
}
.intro{
  font-size: 0.8rem;
}

.logos{
  width:60vw;
}

.button1{
  font-size: 0.7rem;
}

h2{
  font-size: 1rem;
}
.background{
  transform: scale(0.5);
  right: -350px;
}
}
@media (max-width:500px){

  #greeting{
    font-size: 1rem
  }
  .intro{
    font-size: 0.6rem;
  }
  
  .logos{
    width:60vw;
  }
  .skills img{
    height: 1.5rem;
    width: auto;
   }
  }

  