@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

#logo{
    /* font-family: 'VT323'; */
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: white;
    transition: 0.2s ease-in-out;

  }

  #logo:hover{
    color: var(--secondary-color);
  }

  /* .logo-container{
 display: block;
    width: fit-content;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    border: 2px black solid;
  }
   */
  nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 20px;
    height: 10vh;
    width: 100%;
    /* background-color: rgba(223, 36, 36, 0); */
    position: fixed;
    top:0;
    z-index: 1;
  
  }
  
  a{
    text-decoration: none;
    color: inherit;
  }
  
  ul{
    display: flex;
    list-style: none;
    gap: 20px;
    color: white;
  }
  ul li{
    position: relative;
  }

  li a:hover{
    /* color: var(--secondary-color); */
    transition: all 0.1s ease-in-out;
}
  
li a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  background-color: var(--secondary-color);
  width: 0%;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover::after{
  width: 100%;
}


  li:hover{
    cursor:pointer;
    /* border-right: 3px solid black; */
    /* animation: cursor .4s step-end infinite alternate; */
  }
/* 
  @keyframes cursor{
    50%{border-color: transparent;}
  }

  @media (max-width: 565px){
    #logo{
      font-size: 1rem;
      padding: 0;
    }
  } */