@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');



#logo{
    font-weight: 400;
    margin: 0;
    padding: 0;
    transition: 0.2s ease-in-out;
    font-size: 1.3rem;

  }

  #logo:hover{
    color: var(--secondary-color);
  }

  /* .logo-container{
 display: block;
    width: fit-content;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    border: 2px black solid;
  }
   */
  nav{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding-inline: 20px;
    height: 10vh;
    width: 100%;
    position: absolute;
    top:0;
    z-index: 1;
    transition: 0.5s ease-in;
  
  }

  .nav-sticky{
    position: fixed;
    background-color: black;
    color: white;

  }

  .nav-sticky .burger{
    color: white;
  }

  /* Menu responsive */

  .burger{
    display: none;
  }


  .menu-responsive{
    
    position: sticky;
    color: white;
    top:0;
    left: 0;
    background-color: black;
    height: 0%;
    width: 100%;
    /* height: 30vh;
    width: 100%; */
    z-index: 3;
    opacity: 0;
    /* display: none; */
    transition: all 0.5s ease-in-out;
    
    
  }

  .active{
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
  

  }

  .menu-responsive ul, .menu-responsive button{
    display: none;
    
  }

  .active button{
    display: block;
  }

  .active ul{
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .active button{
    background-color: var(--secondary-color);
    color: white;
    border: 1px solid black;
    height: 40px;
    width: 40px;

  }

  /* Normal Menu */
  
  a{
    text-decoration: none;
    color: inherit;
  }
  
  ul{
    display: flex;
    list-style: none;
    gap: 20px;
    /* color: white; */
  }
  ul li{
    position: relative;
    transition: transform 0.1s ease-in  ;
  }
  li:hover{
    transform: scale(1.05);
  }

  li a:hover{
    transition: all 0.1s ease-in-out;
}
  
li a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  background-color: var(--secondary-color);
  width: 0%;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover::after{
  width: 100%;
}


  li:hover{
    cursor:pointer;
    /* border-right: 3px solid black; */
    /* animation: cursor .4s step-end infinite alternate; */
  }
/* 
  @keyframes cursor{
    50%{border-color: transparent;}
  }

  @media (max-width: 565px){
    #logo{
      font-size: 1rem;
      padding: 0;
    }
  } */

  @media (max-width: 650px){
    #logo{
      font-size: 1.2rem;

    }

    nav li{
      font-size: 0.8rem;
    }

    nav ul{
      display: none;
    }

    .burger{
      display: block;
      
    }

    .burger * {
        height:1.5rem;
        width: auto;
    }

    .burger *:focus{
      color: var(--secondary-color);
    }
    
  }

  @media (max-width: 500px){
    #logo{
      font-size: 1rem;
    }
  }