@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

main{
    height: fit-content;
    min-height: 100vh;
    padding-bottom: 5%;
    
    
   
  }

  main p{
    color: black;
  }

  main h1{
    color: black;
    margin-bottom: 0;
    display: inline;
    position: relative;
  }

  .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    
  }

  .line{
    
    height: 3px;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: -5px;
    animation: color2 3s ease-in-out 1 forwards;
    
  }

  
  

#title{
    font-family: 'VT323', sans-serif;
  
    font-size: 3rem;
    width: 100%;
    animation: typing 5s steps(24), step-end infinite alternate ;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;

}

#title-container{
    margin-top: 0rem;
    margin-top: 3rem;
    margin-left: 3rem;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    gap: 40px;
    margin-left: 20px;
    animation: appear 1s ease-in 1 forwards;
    
}

.cards{
    width: 400px;
    display: flex;
    flex-direction: column;
    height: 100%;


}



.card{
    width: 400px;
    height: 200px;
    border: 1px solid black;
    overflow: hidden;
    border: solid 2px grey;
    border-radius: 1rem;
    transition: 0.2s ease-in-out;

}

.card:hover{
    box-shadow: 5px 5px 15px -4px rgba(0,0,0,0.71);}

.card img{
    height: 100%;
    width: 100%;
    transition: 0.2s ease-in;
}

.card img:hover{
    transform: scale(1.1);
}


.buttons{
    display: flex;
    gap: 10px;
   

}

.buttons button{
    font-family: var(--font-comuter);
    background-color: transparent;
    font-size: 1rem;
    color: grey;
    border-color: grey;
    border: 2px solid grey;
}

@media (max-width: 1300px){
    .projects{
        justify-content: center;
            margin-left: 0px;

    }

}
@keyframes color2{
    100%{
      background-color: var(--secondary-color);
    }
   }
@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@media (max-width: 420px){

.cards{
    width: 250px;
}

    .card {
    width: 250px;
    height: 200px;
}
 
}
