@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

main{
    height: fit-content;
    padding-bottom: 5%;
    
    
   
  }

  main p{
    color: black;
  }

  main h1{
    color: black;
    margin-bottom: 0;
    display: inline;
    position: relative;
  }

  .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    
  }

  .line{
    
    height: 3px;
    width: 100%;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: -5px;
    transition: 1.5s ease-in;

    
  }


  
.hidden-line{
    width: 0%;
  }



  
  



#title-container{
    margin-top: 0rem;
    margin-top: 3rem;
    margin-left: 3rem;
}
.projects-hidden{
    opacity: 0;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 40px;
    margin-left: 20px;
    transition: 1s ease-in-out;
    transform: translateY(20%);
}

.projects{
    opacity: 1;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 40px;
    margin-left: 20px;
    transform: translateY(0%);
    /* animation: appear 1s ease-in 1 forwards; */
    
}

.cards{
    width: 400px;
    display: flex;
    flex-direction: column;
    height: 100%;


}



.card{
    position: relative;
    width: 400px;
    height: 200px;
    border: 1px solid black;
    overflow: hidden;
    border: solid 2px grey;
    border-radius: 1rem;
    transition: 0.2s ease-in-out;

}

.card:hover{
    box-shadow: 5px 5px 15px -4px rgba(0,0,0,0.71);}

.card img{
    height: 100%;
    width: 100%;
    transition: 0.2s ease-in;
}

.card img:hover{
    transform: scale(1.05);
    z-index: -3;
}

.github-icon{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    color: grey;
    z-index: 1;
    display: none;
    
}

.card:hover .github-icon{
    height: 2rem;
    width: auto;
    display: block;
}



.github-icon *{
   height: 2rem;
   width: auto;
   transition: 0.1s ease-in;
}
.github-icon:hover{
    color: black;
    cursor: pointer;
 }
 


/* buttons */


.buttons{
    display: flex;
    gap: 10px;
   

}

.buttons img{
    height: 2rem;
    width: auto;
}

.projects button{
    font-family: var(--font-comuter);
    background-color: transparent;
    font-size: 1rem;
    color: grey;
    border-color: grey;
    border: 2px solid grey;
}
/* 
.javascript{
    background-color: rgb(241, 241, 139);
}

.html{
    background-color:  rgb(197, 105, 105);
}

.react{
    background-color: rgb(107, 163, 209);
} */





@keyframes color2{
    100%{
      background-color: var(--secondary-color);
    }
   }
@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width: 1300px){

    .projects{
        flex-direction: column;
        align-items: center;
    }

  
  
   
  }

@media (max-width: 800px){

    .projects{
        flex-direction: column;
        align-items: center;
    }

    .cards{
        width: 300px;
    }

    .card{
      width: 300px;
      height:auto;
  
    }
  
   
  }
  @media (max-width: 600px){

    .projects{
        flex-direction: column;
        align-items: center;
    }

    .cards{
        width: 250px;
    }

    .card{
      width: 250px;
      height:auto;
  
    }
  .title{
    font-size: 1rem;
  }
   
  }
  @media (max-width: 450px){

    .projects{
        flex-direction: column;
        align-items: center;
    }

    .cards{
        width: 150px;
    }

    .card{
      width: 150px;
      height:auto;
  
    }

   
    .title{
        font-size: 0.7rem;
      }
  
   
  }

 